.user-container {
  display: flex;
  border: 1px solid var(--950);
  border-radius: 5px;
  margin: 20px;
  width: 400px;
  height: 200px;
}

.left-side {
  display: flex;
  justify-content: center;
  min-height: 120px;
  min-width: 120px;
  align-items: center;
}

.right-side {
  background-color: var(--950);
  color: var(--100);
  flex: 1;
}

.user-name {
  font-size: 1.5rem;
  color: var(--100);
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.phrase {
  color: var(--300);
  font-style: italic;
  margin-left: 10px;
  font-size: 14px;
}

.line {
  height: 1.5px;
  width: 100%;
  background-color: var(--200);
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.user-info-email,
.user-info-phone,
.user-info-website {
  display: flex;
  gap: 10px;
  margin: 10px;
  align-items: center;
}
